@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.dropdown * {
    box-sizing: border-box;
}

.select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #2a2f3b solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
}

.select-clicked {
    border: 2px #26489a solid;
    box-shadow: 0 0 0.8em #26489a;
}

.select:hover

.sidebar-header {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar {
    position:fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #161a2d;
    padding: 25px 20 px;
}

.sidebar-header h2 {
    font-size: 1.25 rem;
    font-weight:600;
    color: #fff;
    margin-left: 23px;
    margin-top: 20px;
}

.sidebar-links {
    list-style: none;
    margin-top: 20px;
}

.sidebar-links li a {
    display: flex;
    align-items: center;
    gap: 0 20px;
    color: #dbd4d4e3;
    font-weight: 500;
    padding: 15px 20px;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar-links li a:hover {
    background-color: #ffffff2d;
    color: #fff;
    border-radius: 10px;
}

