@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
 font-family: "Roboto";
}

.grid-container {
    padding: 0px 10px;
    display: grid;
    grid-template-columns: repeat(3, 460px);
    grid-gap: 20px;
    width: 100vh;
}

.title {
    grid-column-start: 1;
    grid-column-end: 4;
    justify-self: center;
}

.dropdown{
    grid-column-start: 1;
    grid-column-end: 4;
}

.status{
    box-shadow: 5px 5px grey;
    padding: 20px;
    border-style:groove;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.weather{
    box-shadow: 5px 5px grey;
    padding: 20px;
    border-style:groove;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherContent{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.humidity{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.wind-speed{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.history{
    grid-row: span 3;
    box-shadow: 5px 5px grey;
    padding: 10px;
    border-style:groove;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-image{
    grid-column-start: 1;
    grid-column-end: 3;
    box-shadow: 5px 5px grey;
    padding: 10px;
    border-style:groove;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.prediction{
    grid-column-start: 1;
    grid-column-end: 3;
    box-shadow: 5px 5px grey;
    padding: 10px;
    border-style:groove;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

select {
    padding:10px 20px;
    border-radius: 10px;
    font-size: medium;
}

