@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
    padding: 0px 30px;
}

.flex-container {
    display: flexbox;
    flex-direction: column;
}

select {
    padding:10px 20px;
    border-radius: 10px;
    font-size: medium;
}

select:focus{
    outline: none;
}